/* Корневой стиль*/
:root{
    font-family: "Montserrat";
}

p{
    margin: 0;
}

body{
    margin: 0;
}

/* Стиль Заголовка до таблицы с датами, подразделениями итд*/

#Header {
    display: flex;
    height: 5vh;
    background: #004c97;
    align-items: center;
    justify-content: center;

    & h1 {
        margin: 0;
        color: #ffffff;
    }
}

#Main #table-num-sect p{
    margin: 0;
}

/* Стиль для самой таблицы*/

#Main{
    height: 90vh;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Main #Title{
    width: 50%;
}

#Main #Title #table-num-sect{
    text-align: center;
}

#Main #Table{
    display: flex;
    flex-wrap: wrap;
    width: clamp(700px, 80%, 1440px);
}

#Main #Table #table-title{
    width: 100%;
    height: 15vh;
    display: grid;
    grid-template-areas:"i t" "i n" "i a";
    grid-template-columns: 2fr 4fr;
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid black;
    justify-items: center;

    #table-info-title{
        grid-area: i;
        display: grid;
        grid-template-areas: 
        "n fio uchNum uchNum prof" 
        "n fio uchNum1 uchNum2 prof" 
        "a1 a2 a3 a4 a5";
        
        align-items: center;
        justify-items: center;
        text-align: center;
    
    }

    #table-text-title{
        grid-area: t;
    }

    #table-dates-title{
        width: 100%;
        display: grid;
        text-align: center;
        align-items: center;
    }
    
    #table-nums-title{
        width: 100%;
        display: grid;
        text-align: center;
        align-items: center;
    }
}



#Main .days{
    margin: 10px;
}

#Footer {
    height: 5vh;
    background: #004c97;
}